@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

body{
    background-color:rgb(52, 58, 64);
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-brand{
color:slategrey !important;
text-shadow:2px 2px black;
font-size:30px;
font-family:"Bungee Shade";
text-decoration:overline;

}
.navbar{
    border:1px slategrey;
}

.video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    object-fit:fill;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.btn-outline-primary{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:slategrey;
    border-color: slategrey;
    
}

.container{
  
}

h3, h2{
    
font-family:"Bungee Shade";
text-shadow:2px 2px black;
color:slategrey;
}

a{
    color:slategrey;
    text-decoration:overline;
    
}

.comment-section{
}

