@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

body{
    background-color:rgb(52, 58, 64);
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(../images/music\ pix.jpg) no-repeat center;
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.navbar-brand{
color:whitesmoke !important;
text-shadow:2px 2px black;
font-size:30px;
font-family:"Bungee Shade";
text-decoration:overline;
transition:1s ease;

}
.navbar{
    border:1px whitesmoke;
}

.video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    object-fit:fill;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.btn-outline-primary{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    border-color: whitesmoke;
    
}

h3, h2{
    
font-family:"Bungee Shade";
text-shadow:2px 2px black;
color:whitesmoke;
}

a{
    color:whitesmoke;
    text-decoration:overline;
    transition:1s ease;
    
}

.carousel-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    text-align:center;
    font-size:50px;
    text-shadow:4px 4px black;
    
}
footer{
    text-align:center;
    opacity: .25;
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color:rgb(52, 58, 64);
    border-radius: 10px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:white;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: darkslategray;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: slategrey}
