*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.navbar-brand, a{
    color: black;
}

.logo{
    width: 70px;
}

.row{
   background-color: #ebebeb;
}
p{
    margin: 10px;
    padding: 10px;
}

.search-form{
    width: 80%;
}

#search-input, .search-feild{
    border-radius: 10px;
    width: 450px;
}

.button-search, .screen-reader-text, .icon-search{
    border-radius: 5px;
}

.logo0{
    width: 50px;
    /* margin-right: 20px; */
}
.logo1{
    width: 100px;
    /* margin-right: 20px; */
}
.logo2{  
    width: 100px;
    /* margin-right: 20px; */
}
.logo3{
    width: 150px;
    /* margin-right: 20px; */
}

.logo4{
    width: 100px;
    /* margin-right: 20px; */
}

.flex-container{
    display: inline-flexbox;
    list-style-type: none;
    align-items: center;
}

.footer, .flex-container small {
    text-align: center;
}
